/*------------------------------------------------------------------------
# Palettes
------------------------------------------------------------------------*/
.palette-primary {
	color: $text-contrast-palette-primary_5;

	/*-----------------------------------------------
	## 1
	-----------------------------------------------*/
	.site-header {
		background: $palette-primary_1;
		color: $text-contrast-palette-primary_1;
	}
	.site-title a,
	.site-title a:hover,
	.site-title a:focus,
	.site-description,
	.menu-social li a,
	#secondary-menu a,
	#tertiary-menu a,
	#footer-center-menu a,
	.mod-gamma-1,
	.site-footer,
	.site-footer a,
	.site-footer p,
	.site-footer p a,
	.attribution,
	.social-icons a:hover,
	.social-icons a:focus {
		color: $text-contrast-palette-primary_1;
	}
	.site-footer,
	.navbar-default .navbar-toggle:hover,
	.mod-gamma-1 {
		background: $palette-primary_1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .current-menu-item > a,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		background: $palette-primary_1 !important;
		color: $text-contrast-palette-primary_1 !important;
	}
	h1, h2, h3, h4, h5, h6,
	#primary-navbar li.menu-social a:hover,
	#primary-navbar li.menu-social a:focus,
	#menu-primary .current-menu-item a,
	.disabled-footer .site-footer a {
		color: $palette-primary_1;
	}
	.slogan {
		color: #f4f9fc;
	}
	@media (min-width: 992px) {
		.navbar-default .navbar-nav > li > a {
			border-right: 2px solid $palette-primary_1;
		}
		.navbar-default .navbar-nav > li:last-child > a {
			border-right: none;
		}
	}

	/*-----------------------------------------------
	## 2
	-----------------------------------------------*/
	#site-navigation,
	.navbar-default .navbar-nav > li.dropdown:hover > a,
	.dropdown .active,
	ul.dropdown-menu,
	.mod-alpha-1 {
		background: $palette-primary_2;
	}
	a,
	a:hover,
	a:focus,
	.link-primary,
	.link-primary:hover,
	.link-primary:focus,
	#secondary-menu .current-menu-item a,
	#tertiary-menu .current-menu-item a,
	#footer-center-menu .current-menu-item a,
	.menu-social .current-menu-item a,
	.menu-social li a:hover,
	.menu-social li a:focus,
	#secondary-menu li.menu-social a:hover,
	#secondary-menu li.menu-social a:focus,
	#tertiary-menu li.menu-social a:hover,
	#tertiary-menu li.menu-social a:focus,
	#footer-center-menu li.menu-social a:hover,
	#footer-center-menu li.menu-social a:focus,
	blockquote p,
	.mod-blockquote p,
	.site-footer a:hover,
	.site-footer a:focus {
		color: $palette-primary_2;
	}
	.navbar-default .navbar-nav > li > a,
	.navbar-default .navbar-nav > .active > a,
	#menu-primary .current-menu-item a {
		color: $text-contrast-palette-primary_2;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a,
	.navbar-default .navbar-nav .open > a,
	.navbar-default .navbar-nav .open > a:hover,
	.navbar-default .navbar-nav .open > a:focus {
		color: $text-contrast-palette-primary_2 !important;
	}
	blockquote,
	.mod-blockquote {
		border-left: 7px solid $palette-primary_2;
	}
	.entry-title:before {
		border-top: 2px solid $palette-primary_2;
	}
	.nav > li > a:focus,
	.nav > li > a:hover {
		background: $palette-primary_2;
		color: $text-contrast-palette-primary_2;
	}

	/*-----------------------------------------------
	## Buttons
	-----------------------------------------------*/
	.button-primary,
	.form-submit .submit,
	.ninja-forms-field.btn,
	.button-primary:hover,
	.button-primary:focus,
	.form-submit .submit:hover,
	.form-submit .submit:focus,
	.ninja-forms-field.btn:hover,
	.ninja-forms-field.btn:focus {
		color: #333;
	}
	.button-secondary,
	.button-secondary:hover,
	.button-secondary:focus {
		color: #fff;
	}

	/*-----------------------------------------------
	## 3
	-----------------------------------------------*/
	hr {
		background: $palette-primary_3;
	}
	ul,
	ol,
	.link-secondary,
	.link-secondary:hover,
	.link-secondary:focus,
	.entry-title {
		color: $palette-primary_3;
	}
	.mod-beta {
		border-bottom: 5px solid $palette-primary_3;
	}
	.mod-gamma-1 {
		border-top: 5px solid $palette-primary_3;
	}

	/*-----------------------------------------------
	## 4
	-----------------------------------------------*/
	.background-beta {
		background: $palette-primary_4;
	}

	/*-----------------------------------------------
	## 5
	-----------------------------------------------*/
	.background-primary,
	#boldgrid-sticky-push,
	#boldgrid-sticky-filler,
	.entry-title span {
		background: $palette-primary_5;
	}

	/*-----------------------------------------------
	## Light Text
	-----------------------------------------------*/

	/*-----------------------------------------------
	## Dark Text
	-----------------------------------------------*/
	.mod-beta h3,
	.mod-beta p,
	.comment-meta a,
	.comment-content,
	h5.media-heading,
	.widget-title,
	.widget,
	.widget a {
		color: #333;
	}
	.panel-body {
		background: #fff;
	}

	/*-----------------------------------------------
	## Text Contrast
	-----------------------------------------------*/
	.site-info p,
	.site-info a {
		color: $text-contrast-palette-primary_1;
	}

	/*-----------------------------------------------
	## Backgrounds
	-----------------------------------------------*/
	.call-to-action {
		background: rgba(40, 40, 40, 0.9);
		color: #f4f9fc;
	}
	.mod-beta {
		background: rgba(225, 225, 225, 0.9);
	}

	/*-----------------------------------------------
	## Et Cetera
	-----------------------------------------------*/
	/* fff */
	.comment-text {
		background: #fff;
	}

	/* 333 */
	.mod-beta p,
	.mod-beta h3,
	.woocommerce div.product form.cart .variations label,
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
		color: #333;
	}

	/* ccc */
	.widget-area {
		border: 1px solid #ccc;
	}

	/* WooCommerce */
	.woocommerce #respond input#submit,
	.woocommerce a.button,
	.woocommerce button.button,
	.woocommerce input.button,
	.woocommerce p.buttons a.button {
		background-color: #a46497;
		color: #fff;
	}
	.woocommerce p.buttons a.button:hover {
		background-color: #dad8da;
		color: #515151;
	}
	.entry-title a,
	&.disabled-footer .site-footer,
	&.page-template-page_home .hentry {
		background: $palette-primary_5;
	}
	&.search .site-content,
	&.archive .site-content,
	&.error404 .site-content,
	&.single .site-content,
	&.blog .site-content,
	&.page-template-default .site-content,
	&.mce-content-body {
		background: $palette-primary_5;
		color: $text-contrast-palette-primary_5;
	}
	&.error404 {
		.list-group-item {
			background: $palette-primary_4;
			border: 1px $text-contrast-palette-primary_5 solid;
		}
	}
}
